/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/roboto/roboto-v27-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/assets/fonts/roboto/roboto-v27-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/roboto/roboto-v27-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/assets/fonts/roboto/roboto-v27-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("/assets/fonts/roboto/roboto-v27-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/roboto/roboto-v27-latin-regular.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/roboto/roboto-v27-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/assets/fonts/roboto/roboto-v27-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/roboto/roboto-v27-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/assets/fonts/roboto/roboto-v27-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/roboto/roboto-v27-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/roboto/roboto-v27-latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* roboto-condensed-700 - latin */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/roboto-condensed/roboto-condensed-v19-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/assets/fonts/roboto-condensed/roboto-condensed-v19-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("/assets/fonts/roboto-condensed/roboto-condensed-v19-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/assets/fonts/roboto-condensed/roboto-condensed-v19-latin-700.woff")
      format("woff"),
    /* Modern Browsers */
      url("/assets/fonts/roboto-condensed/roboto-condensed-v19-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/roboto-condensed/roboto-condensed-v19-latin-700.svg#RobotoCondensed")
      format("svg"); /* Legacy iOS */
}

:root {
  /* Colors */
  --white: #ffffff;
  --black-1: #202020;
  --primary: #e42831;
  --grey: #929292;

  /* Fonts */
  --headline1: 700 2.5rem / normal "Roboto Condensed";
  --headline2: 700 1.5rem / normal "Roboto Condensed";
  --subtitle1: 700 1.625rem/1.5rem "Roboto Condensed";

  --body1-regular: 400 1rem/1.5rem "Roboto";
  --body1-bold: 700 1rem/1.5rem "Roboto";
  --body2-bold: 700 0.875rem/1.5rem "Roboto";
  --body2-regular: 400 0.875rem/1.5rem "Roboto";

  --caption-regular: 400 0.75rem/1.5rem "Roboto";
  --caption-bold: 700 0.75rem/1.5rem "Roboto";
  --button: 700 0.875rem/1rem "Roboto";
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  z-index: 3;
}
